force-app/main/default/flows/Delete_Associated_Pizzas_when_Cart_is_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>NullCheck</name>
        <label>NullCheck</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>DeletePizzas</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PizzaInCart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPizzasInCart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>PizzaInCart</label>
        </rules>
    </decisions>
    <description>When a shopping cart is deleted, this flow triggers automatically to delete every pizza record in that cart.</description>
    <interviewLabel>Delete Associated Pizzas when Cart is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Associated Pizzas when Cart is Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Deletes the pizzas associated with the shopping cart</description>
        <name>DeletePizzas</name>
        <label>DeletePizzas</label>
        <locationX>308</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shopping_Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Pizza__c</object>
    </recordDeletes>
    <recordLookups>
        <name>GetPizzasInCart</name>
        <label>GetPizzasInCart</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NullCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Shopping_Cart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pizza__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPizzasInCart</targetReference>
        </connector>
        <object>Shopping_Cart__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
